/* You can add global styles to this file, and also import other style files */

.monospace
  font-family: "Lucida Console", Monaco, monospace

h3
  padding: 3px 6px 3px 6px
  margin-top: 2px
  border-bottom: 2px solid #e1e1e1

// In primeng 9 links didn't have underline but it was removed in subsequent
// versions this removes it again.
a
  text-decoration: none
  color: #2196f3

  &:hover
    text-decoration: underline

  // Utility class to disable underline on demand
  &.no-underline:hover
    text-decoration: none

// Header should occupy 100% width of parent div so elements inside a header
// could be right aligned.
p-header
    width: 100%

// Reduce height of panels caption.
.p-fieldset .p-fieldset-legend
  padding: 0.6rem 1rem 0.5rem 1rem

// Capitalize first letter of the first word in the container.
.p-capitalize-first::first-letter
  text-transform: capitalize

// Helpers in PrimeNG style to set the border spacing.
.border-spacing-0
  border-spacing: 0

.border-spacing-1
  border-spacing: 0.25rem

.border-spacing-2
  border-spacing: 0.5rem

.border-spacing-3
  border-spacing: 1rem

.border-spacing-4
  border-spacing: 1.5rem

.border-spacing-5
  border-spacing: 2rem

.border-spacing-6
  border-spacing: 3rem

.border-spacing-7
  border-spacing: 4rem

.border-spacing-8
  border-spacing: 5rem

// Helper to set flex basis property to 50%.
.flex-basis-50
  flex-basis: 50%
