
// Main utilization container.
.utilization
  // This causes the subnet prefix (label) to be aligned relatively to the main
  // utilization container.
  position: relative
  // Fixed width for the utilization container.
  width: 10em

// Wrapper for the utilization bar.
.utilization__bar-wrapper
  // Full width.
  width: 100%
  // Grayed color.
  background-color: #ddd
  // This causes the kind labels to be aligned relatively to this wrapper.
  position: relative
  // Rounded border.
  border-radius: 4px

// Percentage utilization bar.
.utilization__bar
  // Fixed height.
  height: 1.5rem
  // Rounded border to fit in the wrapper.
  border-radius: 4px

// Subnet prefix label.
.utilization__label
  // Overlaps the main utilization container.
  position: absolute
  // Full size of the main utilization container (text is still left-aligned).
  left: 0
  top: 0
  right: 0
  bottom: 0
  // Offsets the text from the edge.
  padding-left: 4px
  padding-right: 4px
  // Center text vertically.
  margin: auto
  // It is necessary to apply the margin:auto.
  height: fit-content
  // Place the label on the front of other overlapped items (kind labels).
  // Otherwise, the label is invisible.
  z-index: 1

// Bar label indicating the kind of the utilization.
.utilization__kind
  // Overlaps the bar wrapper.
  position: absolute
  // Full vertical size and pull to right.
  top: 0
  right: 0
  bottom: 0
  // Center text vertically.
  margin: auto
  // It is necessary to apply the margin:auto.
  height: fit-content
  // Offsets the text from the edge.
  padding-right: 4px
  // Use a grayed color to avoid distraction from the prefix label.
  color: #888
  // Use extra small font size.
  font-size: 75%

// Modificator for IPv6 utilization - double bars.
.utilization--ipv6
  .utilization__bar
    // Use half of the bar height.
    height: 0.725rem

  .utilization__bar-wrapper:last-of-type
    // Use a little different color for the delegated prefix (bottom) bar for
    // easier differentiation.
    filter: brightness(95%)

// Modificator for the low utilization value.
.utilization__bar--low
  // Green bar color.
  background-color: #abffa8

// Modificator for the medium utilization value.
.utilization__bar--medium
  // Orange bar color.
  background-color: #ffcf76

// Modificator for the high utilization value.
.utilization__bar--high
  // Red bar color.
  background-color: #faa

// Modificator for the exceed utilization value.
.utilization__bar--exceed
  // Blue bar color.
  background-color: #9ab8ef

.utilization__bar--missing
  background-color: #ccc
