<div class="m-5">
    <div class="grid pb-5">
        <!-- General info -->
        <div class="col">
            <p-fieldset legend="General" styleClass="h-full">
                <table class="border-spacing-2">
                    <tr>
                        <td class="w-4 pr-1 white-space-nowrap">Prefix</td>
                        <td>{{ subnet.subnet }}</td>
                    </tr>
                    <tr>
                        <td class="w-4 white-space-nowrap">Client class</td>
                        <td>{{ subnet.clientClass }}</td>
                    </tr>
                    <tr>
                        <td class="w-4 white-space-nowrap">Shared network</td>
                        <td>
                            <app-entity-link entity="shared-network" [attrs]="{ name: subnet.sharedNetwork }" *ngIf="subnet.sharedNetwork"></app-entity-link>
                        </td>
                    </tr>
                </table>
            </p-fieldset>
        </div>

        <!-- Metrics -->
        <div class="col">
            <p-fieldset legend="Statistics" styleClass="h-full">
                <table class="border-spacing-2">
                    <tr>
                        <td class="w-4 white-space-nowrap">Bar</td>
                        <app-subnet-bar [subnet]="subnet"></app-subnet-bar></tr>
                    <tr>
                        <td class="w-4 white-space-nowrap">Utilization</td>
                        <td>{{ subnet.addrUtilization ?? 0 | percent }}</td>
                    </tr>
                    <tr>
                        <td class="w-4 white-space-nowrap">Collected at</td>
                        <td>{{ subnet.statsCollectedAt | date: 'short' }}</td>
                    </tr>
                    <tr *ngFor="let stat of subnet.stats | keyvalue">
                        <td class="w-4 white-space-nowrap">{{ stat.key | replaceAll: '-':' ' | capitalizeFirst | replaceAll: 'nas':'NAs' | replaceAll: 'pds':'PDs' }} </td>
                        <td>{{ stat.value }}</td>
                    </tr>
                </table>
            </p-fieldset>
        </div>

        <!-- Address/PD pools -->
        <div class="col">
            <p-fieldset legend="Address pools" styleClass="h-full">
                <div
                            *ngFor="let p of subnet.pools"
                            style="
                                display: inline-block;
                                border-radius: 4px;
                                background-color: #ddd;
                                padding: 3px 4px 0 4px;
                                margin: 0 4px 4px 0;
                                min-height: 1.5rem;
                            "
                        >
                            {{ p }}
                        </div>
                    </p-fieldset>
                </div>

        <!-- Prefix delegations -->
        <div class="col" *ngIf="isIPv6">
            <p-fieldset legend="Prefix delegations" styleClass="h-full">

            </p-fieldset>
        </div>

        <!-- Hosts -->
        <div class="col">
            <p-fieldset legend="Related host reservations" styleClass="h-full">

            </p-fieldset>
        </div>

        <!-- Local subnets -->
        <div class="col">
            <p-fieldset legend="Daemon subnets" styleClass="h-full">
                <table class="w-full border-spacing-3">
                    <tr>
                        <th>Kea subnet ID</th>
                        <th>Application</th>
                        <th>Statistics collected at</th>
                        <th *ngFor="let statKey of localSubnetStatisticKeys">
                            {{ statKey | replaceAll: '-':' ' | capitalizeFirst | replaceAll: 'nas':'NAs' | replaceAll: 'pds':'PDs' }} 
                        </th>
                    </tr>
                    <tr *ngFor="let lsn of subnet.localSubnets">
                        <td class="text-center">{{ lsn.id }}</td>
                        <td><app-entity-link entity="app-local-subnet" [attrs]="lsn"></app-entity-link></td>
                        <td>{{ lsn.statsCollectedAt | date: 'short' }}</td>
                        <td class="text-right" *ngFor="let statKey of localSubnetStatisticKeys">
                            {{ lsn.stats[statKey] }}
                        </td>
                    </tr>
                </table>
            </p-fieldset>
        </div>
    </div>

</div>